/* div{
    border:5px solid black;
}
h1{
    color:blueviolet;
    text-align: center;
}
p{
    color:red;
    padding: 0px 5px;
} */
 .container{
    display: flex;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 30px;
 }
 .box{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    color: white;
    align-content: center;
    text-align: center;
    flex-grow: 1;
 }
 .box2{
    /*order of each child by default is zero*/
    order: 3;
    flex-grow: 2;
    align-self: flex-end;
 }
